In [1]:
import pandas as pd
import numpy as np
import re
import math
import tabula
import camelot

In [9]:
def abc(a):
    if type(a) == str:
        if len(a.split(' '))==2:
            z=a.split(' ')[1]
        else:
            z=a.split(' ')[0]
    else:
        z=a
    return z

def isnan(value):
    try:
        return math.isnan(float(value))
    except:
        return False

def bom_p1(f):
    tables=tabula.read_pdf(f,
                              lattice=True,
                              pages="all",
                              silent=True,
                              multiple_tables=True,
                              pandas_options={'header':None})
    df = pd.DataFrame()
    df = pd.concat([c for c in tables]).drop_duplicates()
    return df

def bom_p1_process(df):
    df = df.replace(r'^\s*$', np.nan, regex=True)
    df = df[df.isnull().sum(axis=1)]


f = r'C:\Users\MudraCircle\Desktop\bks_raw\Parsing_testing\BOM\files\bom03.pdf'
try:
    df = bom_p1(f) ; df = bom_p1_process(df)
    print("Parsed")
except Exception as e:
    print("Error:",e)
    print("Not Parsed")

Parsed

In [10]:
tables

[                                                   0  \
 0                                   Customer Details
 1  A&A ENTERPRISES\r8 JALBIWALA CHWAL OPP BONANZA...

                                                    1
 0  Branch & Account Details\rBranch No : 01757\rB...
 1                                                NaN  ,
                                                    0       1  \
 0  Statement for Account No 60284763482 from 01/0...     NaN
 1                                               Date    Type
 2                                         01/03/2019     ATM
 3                                         08/03/2019     NaN
 4                                         08/03/2019  Cheque
 5                                         08/03/2019     ATM
 6                                         10/03/2019     ATM
 7                                         14/03/2019    NEFT

                                                    2                      3  \
 0                                                NaN                    NaN
 1                                        Particulars  Cheque/Refer\rence No
 2         471287XXXXXX8682    906005146671\rWA1757C1           906005146671
 3                                            BY CASH                    NaN
 4                                    RAJ CORPORATION                  37014
 5         471287XXXXXX8682    906711146753\rWA1757C1           906711146753
 6         471287XXXXXX8682    906906146662\rWA1757C1           906906146662
 7  NEFT KKBKH19073790306 M R\rENGINEE MAHB1907300...     KKBKH1907379\r0306

           4           5           6               7
 0       NaN         NaN         NaN             NaN
 1     Debit      Credit     Balance         Channel
 2  7,000.00         NaN    5,566.96  ATM Withdrawal
 3       NaN    6,000.00   11,566.96             NaN
 4  6,018.00         NaN    5,548.96       1757-null
 5  4,000.00         NaN    1,548.96  ATM Withdrawal
 6  1,000.00         NaN      548.96  ATM Withdrawal
 7       NaN  140,000.00  140,548.96       1365-null  ,
                                                     0         1  \
 0   Statement for Account No 60284763482 from 01/0...       NaN
 1                                                Date      Type
 2                                          14/03/2019       ATM
 3                                          16/03/2019    Cheque
 4                                          16/03/2019   Charges
 5                                          16/03/2019   Charges
 6                                          17/03/2019  Transfer
 7                                          18/03/2019    Cheque
 8                                          18/03/2019   Charges
 9                                          18/03/2019   Charges
 10                                         18/03/2019      NEFT
 11                                         20/03/2019       ATM
 12                                         20/03/2019    Cheque
 13                                         20/03/2019    Cheque
 14                                         22/03/2019    Cheque
 15                                         23/03/2019  Transfer
 16                                         23/03/2019       ATM
 17                                         23/03/2019   Charges

                                                     2                      3  \
 0                                                 NaN                    NaN
 1                                         Particulars  Cheque/Refer\rence No
 2          471287XXXXXX8682    907311146737\rWA1757C1           907311146737
 3                     NEFT MAHBH19075276255 TAX TREAT                  37016
 4                     NEFT MAHBH19075276255 TAX TREAT                    NaN
 5                     NEFT MAHBH19075276255 TAX TREAT                    NaN
 6   IMPS/48/907613993978/**6277/TAOSIFA\rHMADTMALI...                    NaN
 7   NEFT MAHBH19077324690 R K\rENGINEERING AND GAL...                  37020
 8   NEFT MAHBH19077324690 R K\rENGINEERING AND GAL...                    NaN
 9   NEFT MAHBH19077324690 R K\rENGINEERING AND GAL...                    NaN
 10  NEFT KKBKH19077625261 M R\rENGINEE MAHB1907704...     KKBKH1907762\r5261
 11         471287XXXXXX8682    907904146675\rWA1757C1           907904146675
 12                                PREMIER GALVANIZERS                  37017
 13                                    RAJ CORPORATION                  37015
 14                            R K ENGINEERING AND GAL                  37021
 15  IMPS/48/908211181731/**6277/TAOSIFA\rHMADTMALI...                    NaN
 16         471287XXXXXX8682    908212309411\rAJBF1003           908212309411
 17         471287XXXXXX8682    908212309411\rAJBF1003                    NaN

              4           5           6               7
 0          NaN         NaN         NaN             NaN
 1        Debit      Credit     Balance         Channel
 2     5,000.00         NaN  135,548.96  ATM Withdrawal
 3     2,148.00         NaN  133,400.96       1757-null
 4         2.00         NaN  133,398.96             NaN
 5         0.36         NaN  133,398.60             NaN
 6          NaN   30,000.00  163,398.60            IMPS
 7   110,000.00         NaN   53,398.60       1757-null
 8        15.00         NaN   53,383.60             NaN
 9         2.70         NaN   53,380.90             NaN
 10         NaN  135,000.00  188,380.90       1365-null
 11    8,500.00         NaN  179,880.90  ATM Withdrawal
 12  113,988.00         NaN   65,892.90       1001-null
 13   51,956.00         NaN   13,936.90       1001-null
 14    8,732.00         NaN    5,204.90       1001-null
 15         NaN   11,000.00   16,204.90            IMPS
 16   10,000.00         NaN    6,204.90  ATM Withdrawal
 17       17.00         NaN    6,187.90             NaN  ,
                                                     0        1  \
 0   Statement for Account No 60284763482 from 01/0...      NaN
 1                                                Date     Type
 2                                          23/03/2019  Charges
 3                                          23/03/2019      ATM
 4                                          23/03/2019  Charges
 5                                          23/03/2019  Charges
 6                                          27/03/2019   Cheque
 7                                          27/03/2019   Cheque
 8                                          27/03/2019     NEFT
 9                                          27/03/2019      ATM
 10                                         28/03/2019     NEFT
 11                                         28/03/2019   Cheque
 12                                         28/03/2019  Charges
 13                                         28/03/2019  Charges
 14                                         29/03/2019      ATM
 15                                         29/03/2019      NaN
 16                                         29/03/2019      ATM
 17                                         29/03/2019   Cheque

                                                     2                      3  \
 0                                                 NaN                    NaN
 1                                         Particulars  Cheque/Refer\rence No
 2          471287XXXXXX8682    908212309411\rAJBF1003                    NaN
 3          471287XXXXXX8682    908212309412\rAJBF1003           908212309412
 4          471287XXXXXX8682    908212309412\rAJBF1003                    NaN
 5          471287XXXXXX8682    908212309412\rAJBF1003                    NaN
 6                                              BY CLG                   5546
 7                                              BY CLG                   5550
 8   NEFT SAA443392595 ABDUL  HUSEIN\rA MAHB1908611...           SAA443392595
 9          471287XXXXXX8682    908612146759\rWA1757C1           908612146759
 10  NEFT SDC15233664 ORBIT\rENGINEERIN MAHB1908712...            SDC15233664
 11  NEFT MAHBH19087059330 R K\rENGINEERING AND GAL...                  37022
 12  NEFT MAHBH19087059330 R K\rENGINEERING AND GAL...                    NaN
 13  NEFT MAHBH19087059330 R K\rENGINEERING AND GAL...                    NaN
 14         471287XXXXXX8682    908717146751\rWA1757C1           908717146751
 15                                    LF_CHARGE_18-19                    NaN
 16         471287XXXXXX8682    908806146706\rWA1757C1           908806146706
 17                                               SELF                  37026

              4           5           6               7
 0          NaN         NaN         NaN             NaN
 1        Debit      Credit     Balance         Channel
 2         3.06         NaN    6,184.84             NaN
 3     1,000.00         NaN    5,184.84  ATM Withdrawal
 4        17.00         NaN    5,167.84             NaN
 5         3.06         NaN    5,164.78             NaN
 6          NaN   71,446.00   76,610.78       1001-null
 7          NaN   20,072.00   96,682.78       1001-null
 8          NaN   11,832.00  108,514.78       1365-null
 9    11,900.00         NaN   96,614.78  ATM Withdrawal
 10         NaN  180,000.00  276,614.78       1365-null
 11  125,000.00         NaN  151,614.78       1757-null
 12       15.00         NaN  151,599.78             NaN
 13        2.70         NaN  151,597.08             NaN
 14   20,000.00         NaN  131,597.08  ATM Withdrawal
 15    1,180.00         NaN  130,417.08             NaN
 16   20,000.00         NaN  110,417.08  ATM Withdrawal
 17   50,000.00         NaN   60,417.08       1757-null  ,
                                                    0        1  \
 0  Statement for Account No 60284763482 from 01/0...      NaN
 1                                               Date     Type
 2                                         29/03/2019   Cheque
 3                                         29/03/2019  Charges
 4                                         29/03/2019  Charges
 5                                         29/03/2019   Cheque
 6                                         29/03/2019  Charges
 7                                         29/03/2019  Charges

                                         2                      3          4  \
 0                                     NaN                    NaN        NaN
 1                             Particulars  Cheque/Refer\rence No      Debit
 2  NEFT MAHBH19088111905 RAJ\rCORPORATION                  37025  44,534.00
 3  NEFT MAHBH19088111905 RAJ\rCORPORATION                    NaN       5.00
 4  NEFT MAHBH19088111905 RAJ\rCORPORATION                    NaN       0.90
 5         NEFT MAHBH19088116898 TAX TREAT                  37024   5,000.00
 6         NEFT MAHBH19088116898 TAX TREAT                    NaN       2.00
 7         NEFT MAHBH19088116898 TAX TREAT                    NaN       0.36

         5          6          7
 0     NaN        NaN        NaN
 1  Credit    Balance    Channel
 2     NaN  15,883.08  1757-null
 3     NaN  15,878.08        NaN
 4     NaN  15,877.18        NaN
 5     NaN  10,877.18  1757-null
 6     NaN  10,875.18        NaN
 7     NaN  10,874.82        NaN  ,
                                                    0                1  \
 0  Summary for Account No 60284763482 from 01/03/...              NaN
 1                            Total Transaction Count               44
 2                                  Total Debit Count               35
 3                                 Total Credit Count                9
 4                                                NaN  Closing Balance

                      2           3
 0                  NaN         NaN
 1      Opening Balance   12,566.96
 2   Total Debit Amount  607,042.14
 3  Total Credit Amount  605,350.00
 4            10,874.82         NaN  ]